/* You can add global styles to this file, and also import other style files */

.background-image{
    // background-image: url(../../assets/greenbackgroundavif.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}